@import './mixins/variables.styl'
@import './mixins/mixins.styl'
@import './1px.styl'
html 
  font-size: html-font-size * 1vw

body
  font-size: 14px
  safe-area-mixin(padding-bottom, bottom)
input 
  border: none
  outline: none
ul
  margin: 0
  padding: 0
li
  list-style-type: none

// 常用的flexbox属性
.flex-layer-h,
.flex-layer-v
  display: flex
  flex-wrap: wrap
  &.nowrap
    flex-wrap: nowrap
  // 两端对齐
  &.justify
    justify-content: space-between
    // item左右两边的间距一致
  &.around
    justify-content: space-around
  // 水平居中
  

// flex横向布局(默认换行)
.flex-layer-h
  flex-direction: row
  &.flex-h-center 
    justify-content: center
  // 垂直居中
  &.flex-v-center
    align-items: center

// flex纵向布局
.flex-layer-v
  flex-direction: column
  &.flex-h-center
    align-items: center
  // 垂直居中
  &.flex-v-center
    justify-content: center
// flex子元素填满剩余空间
.flex-fill
  flex: 1
